.ng-explore {
  height: 100vh;
}

.ng-explore-background {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("/assets/images/icepath.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.ng-explore-content {
  z-index: 100;
  padding-top: 60;
  padding-bottom: 60px;
}

/* Article */

.ng-explore-article-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.ng-explore-article-img:hover {
  border-bottom: 5px solid #fc0;
  background-size: 103%;
}

.ng-explore-article-desc {
  background-color: #fff;
  padding: 20px;
  flex: 1;
}

/* Stories */

.ng-explore-stories-head span {
  display: inline-block;
  width: 6px;
  height: 24px;
  background-color: #fc0;
  margin-right: 16px;
}

.ng-explore-story-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90px;
  width: 90px;
}

.ng-explore-story-desc {
  flex: 1;
}