@import "src/scss/tokens";

.root {
  position: relative;
  padding: 30px 20px;
  cursor: pointer;

  &:hover {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $dark-alpha-30;
    }
    .ballContainer {
      opacity: 0.7;
      transform: rotate(-3deg);
    }
    .pokeImage {
      transform: rotate(3deg);
    }
  }
}

.ballContainer {
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding: 20px;
}

.ball {
  width: 100%;
  filter: invert(100%);
}

.pokeImage {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pokeData {
  padding-top: 20px;
  text-align: center;
}

.name {
  margin-bottom: 10px;
}

.cname {
  color: $tone-warning-300;
  font-weight: 600;
}
