.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
}