/* Navbar */

.ng-navbar {
  background-color: #fff;
}

.ng-navbar-menu {
}

.ng-navbar-subscribe {
  box-sizing: border-box;
  height: 26px;
}

.ng-navbar-subscribe:hover {
  border-bottom: 2px solid #fc0;
}

.ng-navbar-toggle {
  font-weight: 700;
}