@import 'src/scss/tokens';

.root {
  font-family: $font-primary;
  color: $dark-alpha-80;
  // background-color: $dark-alpha-10;
}

.content {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}